html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins';
  min-width: 768px;
}

strong {
  font-weight: bold;
  color: rgba(46, 52, 54, .95);
}

.cv {
  margin: 96px;
}

.cv-container {
  max-width: calc(1024px - 96px);
  margin: auto;
}

.cv__header {
  margin-bottom: 48px;
}

.cv__header-title {
  margin-bottom: 16px;

  font-weight: 200;
  font-size: 64px;
}

.cv__header-subtitle {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 24px;
}

.coordinates-item {
  display: inline-block;

  margin: 0 4px;
  padding: 0;

  font-weight: 200;
  font-size: 16px;
  color: black;

  text-decoration: underline dotted black;
}

.coordinates-item:first-of-type {
  margin-left: 0;
}

.coordinates-item:last-of-type {
  margin-right: 0;
}

.cv__section {
  position: relative;

  margin-bottom: 32px;
}

.cv__section-title {
  margin-bottom: 16px;

  font-weight: 200;
  font-size: 24px;
}

.cv__item {
  margin-bottom: 16px;
  page-break-inside: avoid;
}

.cv__item-header {
  margin-bottom: 10px;
}

.cv__item-role {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 6px;
}

.cv__item-title {
  font-weight: 500;
  font-size: 16px;
}

.cv__item-location {
  font-weight: 200;
  font-size: 16px;
}

.cv__item-duration {
  font-weight: 200;
  font-size: 14px;
}

.cv__item-description {
  margin-bottom: 8px;

  font-weight: 200;
  font-size: 14px;

  line-height: 20px;
}

p {
  margin-top: 10px;
}

ul:not(.cv__list) {
  margin-left: 16px;
  margin-right: 32px;
}

ul:not(.cv__list) li {
  margin: 3px 0;
  margin-left: 16px;
}

ul:not(.cv__list) li:before {
  content: '\2010';

  font-weight: 500;

  margin: 0 10px;
  margin-left: -16px;
}

.cv__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cv__list li {
  display: block;
  box-sizing: border-box;
  width: 33%;
  padding: 2px;
}

.progress-bar {
  display: inline-block;
  position: relative;

  width: 100px;
  height: 10px;
  border-radius: 5px;

  margin-right: 4px;

  background-color: darkgrey;
}

.progress-bar:after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  border-radius: 5px;
  background-color: dimgrey;
}

.progress-bar[progression="1"]:after {
  width: calc(100% / 6);
}

.progress-bar[progression="2"]:after {
  width: calc(100% / 3);
}

.progress-bar[progression="3"]:after {
  width: calc(100% / 2);
}

.progress-bar[progression="4"]:after {
  width: calc(4 * (100% / 6));
}

.progress-bar[progression="5"]:after {
  width: calc(5 * (100% / 6));
}

.progress-bar[progression="6"]:after {
  width: 100%;
}

.cv__footer {
  padding: 24px 0;

  text-align: center;
}

.cv__footer-name {
  margin-bottom: 18px;

  font-weight: 200;
  font-size: 32px;
}

@page  
{ 
  margin: 20mm 25mm 0mm 25mm;  
} 

@media print {
  .cv {
    margin: 0;
    background-color: white;
  }

  .cv-container {
    width: 215.9mm;
    margin: auto;
  }

  .spacing {
    height: 56px;
  }

  .spacing--small {
    height: 28px;
  }

  .spacing--large {
    height: 112px;
  }

  .pagebreak {
    page-break-before: always;
  }
}


