---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <section class="post">
      <header class="post-header">
        <h1 class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </header>
      <div class="post-content">
        <a href="{{ post.url | prepend: site.baseurl  }}" title="Read {{ post.title  }}">{{ post.content | strip_html | truncatewords: 30 }}</a>
      </div>
      <div>
        <a class="button" href="{{ post.url | prepend: site.baseurl  }}" title="Read {{ post.title  }}">Read more &gt;</a>
      </div>
      <footer class="post-meta">
        <time class="post-meta__time" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      </footer>
    </section>
  {% endfor %}
</div>
{% include pagination.html %}
