<div class="coordinates">
  <a class="coordinates-item" href="tel:{{include.coordinates.phone.compact}}" target="_blank">{{include.coordinates.phone.full}}</a>
  -
  <a class="coordinates-item" href="mailto:{{include.coordinates.email}}" target="_blank">{{include.coordinates.email}}</a>
  -
  <a class="coordinates-item" href="{{include.coordinates.linkedin}}" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
  -
  <a class="coordinates-item" href="https://www.github.com/{{include.coordinates.github}}" target="_blank"><i class="fa fa-github"></i> {{include.coordinates.github}}</a>
  -
  <a class="coordinates-item" href="https://www.gitlab.com/{{include.coordinates.gitlab}}" target="_blank"><i class="fa fa-gitlab"></i> {{include.coordinates.gitlab}}</a>
</div>
