{% assign experience = include.experience %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ experience.title }}</h2>
  </header>
  {% for exp in experience.items %}
  <section class="cv__item">
    <header class="cv__item-header">
      <div class="cv__item-role">
        <h3 class="cv__item-title">{{ exp.title }}{% if exp.date %} <span class="cv__item-duration">- {{ exp.date }}</span>{% endif %}</h3>
        <h4 class="cv__item-location">{{ exp.location }}</h4>
      </div>
    </header>
    <div class="cv__item-description">{{ exp.description }}</div>
  </section>
  {% endfor %}
</section>
