{% assign education = include.education %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ education.title }}</h2>
  </header>
  {% for edu in education.items %}
  <section class="cv__item">
    <header class="cv__item-header">
      <div class="cv__item-role">
        <h3 class="cv__item-title">{{ edu.title }} <span class="cv__item-duration">- {{ edu.date }}</span></h3>
        <h4 class="cv__item-location">{{ edu.location }}</h4>
      </div>
    </header>
  </section>
  {% endfor %}
</section>
