<header class="cv__header">
  <h1 class="cv__header-title">{{ include.title }}</h1>
  <h3 class="cv__header-subtitle">{{ include.subtitle }}</h3>

  {% include cv_coordinates.html coordinates=include.coordinates %}
</header>
