{% assign honors = include.honors %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ honors.title }}</h2>
  </header>
  {% for honor in honors.items %}
  <section class="cv__item">
    <header class="cv__item-header">
      <div class="cv__item-role">
        <h3 class="cv__item-title">{{ honor.title }} <span class="cv__item-duration">- {{ honor.date }}</span></h3>
        <h4 class="cv__item-location">{{ honor.location }}</h4>
      </div>
    </header>
  </section>
  {% endfor %}
</section>
