{% assign interests = include.interests %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ interests.title }}</h2>
  </header>
  <section class="cv__item">
    <div class="cv__item-description">
      <ul class="cv__list">
        {% for item in interests.items %}
        <li><i class="fa fa-{{ item.icon }}"></i> {{ item.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
