{% assign languages = include.languages %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ languages.title }}</h2>
  </header>
  <section class="cv__item">
    <div class="cv__item-description">
      <ul class="cv__list">
        {% for language in languages.items %}
          {% if language.name %}
        <li><span class="progress-bar" progression="{{ language.progression }}"></span> {{ language.name }}</li>
          {% else %}
        <li></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
