{% assign projects = include.projects %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ projects.title }}</h2>
  </header>
  {% for project in projects.items %}
  <section class="cv__item">
    <header class="cv__item-header">
      <div class="cv__item-role">
        <h3 class="cv__item-title">{{ project.title }} <span class="cv__item-duration">- {{ project.date }}</span></h3>
        <h4 class="cv__item-location">{{ project.location }}</h4>
      </div>
    </header>
    <div class="cv__item-description">
      {{ project.description }}
    </div>
  </section>
  {% endfor %}
</section>
