{% assign patents = include.patents %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ patents.title }}</h2>
  </header>
  {% for patent in patents.items %}
  <section class="cv__item">
    <header class="cv__item-header">
      <div class="cv__item-role">
        <h3 class="cv__item-title">{{ patent.title }}</h3>
        <h4 class="cv__item-location">{{ patent.location }}</h4>
      </div>
      <div class="cv__item-duration">
        {{ patent.description }}
      </div>
    </header>
  </section>
  {% endfor %}
</section>
