{% assign skills = include.skills %}
<section class="cv__section">
  <header>
    <h2 class="cv__section-title">{{ skills.title }}</h2>
  </header>
  <section class="cv__item">
    <div class="cv__item-description">
      <ul class="cv__list">
        {% for skill in skills.items %}
        <li>{{ skill.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
