<footer class="footer">
  <div>
    <p class="footer-content">&copy; {{ site.time | date: '%Y' }} - {{ site.author }}</p>
  </div>
  <nav>
    <ul class="social-medias">
      {% if site.gitlab_username %}
        <li class="social-medias__item">
          <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank"><i class="fa fa-gitlab"></i></a>
        </li>
      {% endif %}
      {% if site.github_username %}
        <li class="social-medias__item">
          <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
        </li>
      {% endif %}
      {% if site.twitter_username %}
        <li class="social-medias__item">
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      {% endif %}
      {% if site.instagram_username %}
        <li class="social-medias__item">
          <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
      {% endif %}
      <li class="social-medias__item">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss"></i></a>
      </li>
    </ul>
  </nav>
</footer>
