<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-page pagination-page--previous" href="{{ paginator.previous_page_path  }}">
      &#10094;
    </a>
  {% else %}
    <span class="pagination-page pagination-page--previous pagination-page--disabled">
      &#10094;
    </span>
  {% endif %}

  <div>
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="pagination-page pagination-page--current">{{ page }}</span>
      {% elsif page == 1 %}
        <a class="pagination-page" href="/">{{ page }}</a>
      {% else %}
        <a class="pagination-page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page  }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% if paginator.next_page %}
    <a class="pagination-page pagination-page--next" href="{{ paginator.next_page_path }}">
      &#10095;
    </a>
  {% else %}
    <span class="pagination-page pagination-page--next pagination-page--disabled">
      &#10095;
    </span>
  {% endif %}
</div>
