.footer {
  position: relative;

  margin-top: 48px;
  padding: 32px 0;

  font-family: $base-font-family;
  text-align: center;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    width: 60px;
    height: 1px;

    background-color: grey;

    transform: translateX(-50%);
  }
}

.footer-content {
  margin: 0;
}

.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;

  list-style-type: none;
}

.social-medias__item {
  margin: 0;
  padding: 8px;

  font-size: 24px;

  a {
    color: black;

    &:hover {
      color: dodgerblue;
    }
  }
}
