.header {
  position: relative;

  width: 100%;
  padding: 32px 0;
  margin-bottom: 48px;

  text-align: center;

  &:after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;

    width: 60px;
    height: 1px;

    background-color: grey;

    transform: translateX(-50%);
  }
}

.header-title, .header-title a {
  margin: 0;

  font-family: $base-font-family;
  font-size: 40px;
  color: black;

  &:hover {
    text-decoration: none;
  }
}
