.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 8px;

  border-top: 2px solid rgb(245, 245, 245);
  border-bottom: 2px solid rgb(245, 245, 245);

  > div {
    display: flex;
    flex-direction: row;
  }

  a {
    color: black;
  }
}

.pagination-page {
  padding: 8px;

  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 500;

  color: black;
}

.pagination-page--disabled, .pagination-page--current {
  color: lightgrey;
}
