.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts a {
  color: black;
  text-decoration: none;
}

.post {
  margin-bottom: 32px;

  text-align: center;
}

.post--single {
  text-align: justify;
}

.post-title {
  font-family: $base-font-family;
  text-align: center;
}

.post-content {
  padding: 8px 0;

  text-decoration: none;
  color: black;
}

.post-meta {
  position: relative;

  width: 100%;
  max-width: 360px;
  margin: auto;

  font-family: $base-font-family;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: lightgrey;

  &:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: rgb(245, 245, 245);

    transform: translateY(-50%);
    z-index: -1;
  }
}

.post-meta__time {
  padding: 0 8px;
  background-color: $background-color;
}

.post-back {
  text-align: center;
}

.post-contribute {
  margin: 8px 0;

  font-style: italic;
}

.post h2 {
  font-family: $base-font-family;
}
