<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ian Letourneau - Curriculum Vitae</title>

    <script src="https://use.fontawesome.com/45abedfc95.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/cv.css" />
  </head>
  <body class="cv">
    <div class="cv-container">
      {% assign author = site.data[page.language].author %}
      {% assign position = site.data[page.language].cv[page.cv].position %}

      {% include cv_header.html title=author.full_name subtitle=position coordinates=author.coordinates %}
      <main class="cv__content">
        {{ content }}
      </main>
      {% include cv_footer.html title=author.full_name coordinates=author.coordinates %}
    </div>
  </body>
</html>
