<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main class="content">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
  </body>
</html>
