---
layout: default
---

<article class="post post--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
      <time class="post-meta__time" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-back">
    <a class="button" href="{{ site.url }}" title="There is no place like home!">&lt; Back</a>
  </div>

  <div class="post-share">
    <div class="addthis_inline_share_toolbox"></div>
  </div>

  <div class="post-contribute">
    <p>
      Spotted a typo? Or you have any suggestions about this article? Feel free to comment or edit it on <a href="https://gitlab.com/ianlet/ianlet.gitlab.io/blob/master/{{ page.path }}" target="_blank">gitlab</a>.
    </p>
  </div>
</article>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58609d2cdf4042e8" async></script>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | prepend: site.url }}';
    this.page.identifier = '{{ page.url }}';
  };

(function() {
  var d = document, s = d.createElement('script');
  s.async = s.src = '//ianletourneau.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
